* {padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,
:active {outline: none;}
a:focus,
a:active {outline: none;}
nav,
footer,
header,
aside {display: block;}
html,
body {height: 100%;width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     height: 100%; font-weight: 400; 
     font-family:'Montserrat', sans-serif; 
     color: var(--color-black); 
     background: var(--color-white);
     height: 100dvh;min-width: 
     320px;scroll-behavior: smooth;}
input,
button,
textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-Regular.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-Medium.woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-SemiBold.woff");
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-Bold.woff");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-ExtraBold.woff");
        font-weight: 800;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src:  url("../fonts/Montserrat-Black.woff");
        font-weight: 900;
        font-display: swap;
        font-style: normal;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.main {
  flex: 1 1 auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.title {
  margin-bottom: 50px;
}
.title h1{
  font-size: clamp(20px, 2.6vw, 32px);
  color: var(--color-blue);
  font-weight: 700;
}
  /*
  1600px / 100px
  1vw = 16px
  100px / 16px = 6.25vw
  */
.subtitle {
  margin-bottom: 50px;
  text-align: center;
}
.subtitle h2{
  font-size: clamp(20px, 3.3vw, 40px);
  font-weight: 600;
}
.subtitle strong{
  color: var(--color-blue);
}
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #08B1F3;
  --color-orange: #ED9523;
  --color-light-blue: #E0F0FA;
}
/*---------------------------------------header----------------------*/
.header__burger-wrapper {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--color-white);
}
.header__logo {
  margin-top: -35px;
  margin-right: 70px;
}
.logo {
  z-index: 3;
}
.header__top-wrapper {
  background-color: var(--color-light-blue);
}
.header__top {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__top-select {
  max-width: 200px;
  margin-left: 245px;
}
.dropdown {
  position: relative;
  z-index: 4;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
  padding: 9px 0px;
  padding-right: 50px;
  background-color: inherit;
}
.dropdown__button::after {
  content: '';
  position: absolute;
  top: 52%;
  right: 8px;
  transform: translateY(-50%);
  width: 11px;
  height: 7px;
  background-image: url(../images/icons/Vector.svg);
  background-repeat: no-repeat;
  pointer-events: none;
}
.dropdown__button::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 20px;
  top: 10px;
  right: 35px;
  background-color: var(--color-blue);
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 170px;
  left: 0;
  top: 35px;
  z-index: 1;
  background-color: var(--color-light-blue);
  padding: 17px 10px 0px 10px;
}
.dropdown__list-item:hover {
  color: var(--color-blue);
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.dropdown input {
  display: none;
}
.header__body-wrapper {
  border-bottom: 1px solid var(--color-black);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}
.header__block p {
  font-size: 14px;
  margin-bottom: 6px;
}
.header__block a {
  color: var(--color-black);
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
}
.header__block--tel {
  margin-right: 155px;
}
.header__block--links {
  margin-right: 70px;
}
.header__block--tel a:nth-child(2) {
  margin-right: 20px;
}
.header__block--links a {
  margin-right: 5px;
}
.header__block button {
  background-color: var(--color-blue);
  padding: 10px 55px;
  border-radius: 7px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  white-space: nowrap;
  border: 1px solid var(--color-white);
}
.header__block--mod {
  display: none;
}
.header__bottom {
  padding: 18px 10px;
}
.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 20px;
}
.menu__list-item a{
  color: var(--color-black);
  text-transform: uppercase;
}
/*---------------------------------------header----------------------*/

/*---------------------------------------main-section----------------------*/
.main-section{
  margin-top: 170px;
  margin-bottom: 60px;
}
.main-section {
  position: relative;
}
.main-section__content {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.main-section__body {
  position: relative;
  z-index: 2;
  padding: 119px 10px 92px 10px;
}
.main-section-title {
  margin-bottom: 67px;
}
.main-section-title h1 {
  font-weight: 700;
  font-size: clamp(30px, 3.7vw, 45px);
  text-transform: uppercase;
}
.main-section-text {
  font-weight: 700;
  font-size: clamp(20px, 3.3vw, 40px);
  margin-bottom: 26px;
  max-width: 600px;
}
.main-section-text span {
  color: var(--color-blue);
  display: flex;
  justify-content: flex-end;
}
.main-section__list {
  margin-bottom: 96px;
}
.main-section__list li  {
  display: grid;
  grid-template-columns: 28px 1fr;
  gap: 10px 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 24px);
}
.main-section__button a {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 15px 45px;
  border-radius: 7px;
  text-transform: uppercase;
}
.main-section__img-bg,
.director__image-bg,
.director__image-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*---------------------------------------main-section---------------------*/


/*---------------------------------------form---------------------*/
.form {
  margin-bottom: 130px;
}
.form__body {
  max-width: 996px;
  margin: 0 auto;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.14);
  padding: 56px 10px;
  border-radius: 20px;
  position: relative;
}
.form__body form {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
}
select {
  border: none;
  padding: 0 0 0 25px;
  border-radius: 7px;
  height: 44px;
  width: 100%;
  color: #656C6F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 10px auto;
  -moz-appearance:none; 
  -webkit-appearance:none; 
  appearance:none;
  background: #F2F7F9 url(../images/icons/select-arrow.svg) no-repeat;
  background-position: center right 20px;
  cursor: pointer;
}
input {
  border: none;
  padding: 0 0 0 25px;
  border-radius: 7px;
  height: 44px;
  width: 100%;
  background: #F2F7F9;
  color: #656C6F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 10px auto;
}
input[type="submit"] {
  background: #ED9523;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  width: 316px;
  height: 50px;
  text-transform: uppercase;
}
form p {
  text-align: start;
  margin-bottom: 27px;
  margin-top: 10px;
}
form p a {
  color: var(--color-blue);
}
.form__body-image {
  bottom: -110px;
  left: -200px;
  max-width: 400px;
  position: absolute;
}
.form__body-image img {
  width: 100%;
}
/*---------------------------------------form--------------------*/

.director,
.experience {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.director__content {
  position: relative;
  z-index: 2;
  padding-top: 113px;
  padding-bottom: 90px;
}
.director__body {
  display: flex;
  align-items: center;
  gap: 10px 68px;
  margin-bottom: 50px;
  background-color: var(--color-white);
  border-radius: 20px;
}
.director__body-image img {
  width: 100%;
}
.director__body-info {
  flex-basis: 670px;
  position: relative;
  font-size: clamp(12px, 1.3vw, 16px);
  line-height: 156%;
}
.director__body-info h3,
.director__body-info h4 {
  margin-bottom: 10px;
}
.director__body-img {
  position: absolute;
}
.director__body-img-left {
  top: -50px;
  left: -40px;
}
.director__body-img-right {
  bottom: -50px;
  right: -50px;
}
.director__texts {
  font-size: clamp(12px, 1.3vw, 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 60px;
}


/*--------------------------------------experience----------------------------*/
.experience {
  margin-bottom: 70px;
}
.experience__content {
  position: relative;
  z-index: 2;
  padding-top: 70px;
  padding-bottom: 67px;
}
.experience__content .subtitle h2 {
  color: var(--color-white);
  font-weight: 600;
}
.experience__body {
  border: 2px solid #5cc9f2;
  border-radius: 20px;
  padding: 56px 90px;
  display: flex;
  justify-content: space-between;
  gap: 30px 5px;
}
.experience__block {
  text-align: center;
}
.experience__block img {
  margin-bottom: 12px;
}
.experience__block span {
  font-weight: 900;
  font-size: clamp(30px, 4.2vw, 50px);
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
  color: var(--color-white);
}
.experience__block p {
  font-weight: 600;
  font-size: clamp(14px, 1.5vw, 18px);
  color: var(--color-white);
  max-width: 170px;
  margin: 0 auto;
}
/*--------------------------------------experience----------------------------*/


.home_steps__container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.home_steps__container > div {
  border-radius: 15px;
  background: #F2F7F9;
  padding: 20px;
  height: fit-content;
  min-height: 220px;
}
.home_steps__container_num {
  border-radius: 90px;
  width: 54px;
  height: 54px;
  background: #fff;
  color: #D8E5EE;
  font-weight: 900;
  font-size: 35px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_steps__container_title {
  margin: 20px 0 15px 0;
  color: #08B1F3;
  font-weight: 700;
  font-size: clamp(16px, 1.6vw, 20px);
  line-height: 19px;
}
.home_steps__container_icon {
  cursor: pointer;
  transition: 0.3s;
}
.home_steps__container_icon.active-step {
  transform: rotate(-180deg);
  transition: 0.3s;
}
.home_steps__container_list {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0 0 0;
  display: none;
}
.home_steps__container_list li {
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 15px 28px; 
  position: relative;  
}
.home_steps__container_list li:before {
  content: "";
  background: url(../images/icons/check-blue.svg) no-repeat;
  width: 13px;
  height: 10px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
}
.home_steps__line {
  width: 227px;
  margin: 45px auto;
  gap: 8px;
  justify-content: center;
  opacity: 0;
}
.home_steps__line > div:nth-child(1) {
  width: 227px;
  height: 11px;
  background: #D9D9D9;
}
.home_steps__line > div:nth-child(2) {
  width: 197px;
  height: 1px;
  background: #D9D9D9;
}

/*---------------------------------------footer----------------------------*/

.footer {
  background-color: var(--color-light-blue);
  padding: 50px 0px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.footer__block .logo {
  margin-top: -35px;
}
.footer__block-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
}
.footer__block-tel a {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-black);
  margin-bottom: 5px;
}
.messengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.footer__block--mail a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: var(--color-black);
}
/*---------------------------------------footer----------------------------*/

/*-------------------------------------------popup
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content{
  max-width: 554px;
  background-color: #FFFFFF;
  padding: 70px 66px 35px;
  position: relative;
}
.popup__title{
  color: #000000;
  font-size: 25px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
form{
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}
.form input{
  font-weight: 400;
  font-size: 17px;
  line-height: 123%;
  color: #484848;
  border: 0.4px solid #000000;
  border-radius: 10px;
  padding: 17px 30px;
  margin-bottom: 30px;
  width: 100%;
}
.form button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 10px;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}
----------------------*/

/*------------------------------------------dropdown
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 27px 15px 19px;
}

.dropdown__button::after {
  content: '';
  position: absolute;
  top: 52%;
  right: 8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: #393939 transparent transparent transparent;
  border-style:  solid;
  pointer-events: none;
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 240px;
  left: 0;
  top: 42px;
  z-index: 1;
  background: #F1F1F1;
  padding: 17px 19px 25px 19px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown input {
  display: none;
}
.dropdown__list-item--mod {
  margin-bottom: 35px;
  color: #777777;
}
.dropdown__list-item--mod:hover {
  cursor: default;
  color: #777777;
}
.dropdown__button--active {
  width: 100%;
}
----------------------*/

/*------------------------------------------Checkbox
.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
----------------------*/

/*-----------------------------------------radio-button
.real-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
---------------------------*/

/*-------------------------------------------Accordion
.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #1280E5;
  border-top: none;
  color: #000000;
  background-color: #FFFFFF;
}
.accordion:first-child {
  border-top: 1px solid #1280E5;
}
.accordion__title.active {
  box-shadow: 0 0 12px 1px solid #1280E5;
}
.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}
.accordion__title span::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.accordion__title span::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.accordion__title.active span{
  transform: rotate(140deg);
}
.accordion__content {
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border: 1px solid #000000;
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
------------------------------------------------------------------------------------Accordion---*/

/*---------------------------------------------Tabs

.tabs {

}
.tabs-button.active-tab {
  background-color: #1280E5;
  border-right-color: #1280E5;
  color: #FFFFFF;
}
.tabs-content {
  display: none;
}
.tabs-content.active-tab {
  display: block;
}

-------------*/

/*---------------------------------------------Quiz

.quiz__progress {
  margin-bottom: 10px;
}
.quiz__progress-inner {
  background: var(--color-black);
  height: 2px;
  display: block;
  transition: all 0.8s ease 0s;
}
.quiz-form__title {
  margin-bottom: 15px;
}
.quiz-form__fieldset label{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.quiz-form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.quiz-form__radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
.quiz-form__buttons {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.quiz-form__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.quiz-form__checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
-------------*/

/*-------------------------------------------preloader

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  z-index: 999999999;
  opacity: 1;
  visibility: visible;

}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
.preloader__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes loading {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loading div {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 10px solid #5bb6e1;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading div {
  animation: loading 2s linear infinite;
  top: 80px;
  left: 80px;
}
.preloader__loading {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.loading div { box-sizing: content-box; }
----------------------------*/



/*---------------------------------------media----------------------------*/

/*---------------------------------------media-hover----------------------------*/
@media(hover:hover) {
  .menu__list-item a:hover {
    color: var(--color-blue);
    transition: all 0.3s;
  }
  .header__block button:hover {
    transition: all 0.3s;
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
  }
}
/*---------------------------------------media-hover----------------------------*/


@media (max-width: 1200px) {
  .director__body-img-left {
    top: -20px;
    left: 0;
  }
  .director__body-img-right {
    bottom: -20px;
    right: 0;
  }
  .director__body-img img {
    width: 30px;
  }
}

@media (max-width: 980px) {
  .header__body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 17px;
  }
  .header__logo {
    margin-right: 0px;
  }
  .header__block--tel {
    margin-right: 50px;
  }
  .header__block--links {
    margin-right: 0px;
  }
  .main-section-text {
    max-width: 400px;
  }
  .form__body-image {
    top: -200px;
    left: -250px;
  }
}


@media (max-width: 770px) {
  .dropdown__button {
    padding: 5px 0px;
    padding-right: 50px;
  }
  .header__top-select {
    max-width: 200px;
    margin-left: 100px;
  }
  .header__block--mod {
    display: block;
    margin-bottom: 20px;
  }
  .header__block--links,
  .header__block--tel {
    display: none;
  }
  .header__burger-wrapper {
    width: 36px;
    height: 36px;
    background-color: var(--color-white);
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 6;
  } 
  .header__burger{
    z-index: 5;
    cursor: pointer;
  }
  .header__burger span {
    height: 1px;
    width: 15px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
  }
  .header__burger span:first-child {
    left: 50%;
    top: 40%;
  }
  .header__burger span:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .header__burger span:last-child {
    left: 50%;
    top: 62%;
  }
  .header__burger._active span:nth-child(2){
    opacity: 0;
  }
  .header__burger._active span:first-child{
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .header__burger._active span:last-child{
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
  .menu{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 70px 30px 30px 30px; 
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .menu._active{
    top: 0;
  }
  .menu__list-item:not(:last-child){
    margin-bottom: 30px;
  }
  .menu__list{
    display: block;
    position: relative;
    margin-bottom: 20px;
  }
  .menu__link{
    color: #000000;
  }
  .main-section {
    margin-top: 50px;
  }
  .header__bottom {
    padding: 0;
  }
  .director__body {
    gap: 10px;
    align-items: start;
  }
  .director__body-img-left {
    top: 0;
    left: 10px;
  }
  .director__body-img-right {
    bottom: 10px;
    right: 10px;
  }
  .director__body-info {
    padding: 20px;
  }
  .experience__body {
    padding: 30px 20px;
  }
}

@media (max-width: 600px) {
  .logo img {
    max-width: 110px;
  }
  .header__body {
    padding: 10px 0px;
    margin-bottom: 0px;
  }
  .header__block button {
    padding: 10px 20px;
  }
  .main-section {
    margin-top: 20px;
  }
  .main-section-title {
    margin-bottom: 30px;
  } 
  .main-section__list {
    margin-bottom: 50px;
  }
  .form__body-image {
    display: none;
  }
  .form {
    margin-bottom: 60px;
  }
  .director__body {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .director__body-image img {
    border-radius: 20px;
  }
  .director__content {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .director__texts {
    flex-wrap: wrap;
  }
  .experience__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer__block--mail {
    margin-right: 100px;
  }
}
/*---------------------------------------media----------------------------*/